.App {
  text-align: center;
}


.App-content {
  background-color: #282A36;
  min-height: 100vh;
  min-width: 99vw;
  /* overflow-x: auto; */
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 16px;
}


.toast-demo button {
    min-width: 10rem;
    margin-right: .5rem;
}

@media screen and (max-width: 960px) {
    .toast-demo button {
        width: 100%;
        margin-bottom: .5rem;
    }
}
 