.App {
  text-align: center;
  max-width: 100vw;
  min-height: 100vh;
  transition: all .5s ease-in-out;
  scroll-behavior: smooth;
}


.App-content {
  background-color: #282A36;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  color: white;
  padding: 16px;
}

.App-title{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    cursor:pointer;
}

 